.tech{
  height: auto;
  padding: 2rem 7rem;
  // border: dotted;
  // background-color: #f3d4669a;
  margin-top: 4rem;
  padding-top: 0;
  @media screen and (max-width: 700px) {    
    padding-top: 1rem;
    }

  h3{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  ul{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
    // border: red solid;
    width: 100%;
    place-items: center;
    gap: 2rem;
  }
  li{
    width: 100%;
    // height: 80px;
    margin:0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
    // border: dotted;
    padding: 0.5rem;
  }
}
.tech-wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  li{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  li img{
    // height: 100%;
    width: 100%;
    height: 65px;
  }
  P{
    text-align: center;
    margin: 1rem 0;
  }
}
hr{
  width: 90vw;
  margin: 3rem auto;
  border-width: .1px;
  border-color:  rgba(147, 147, 147, 0.627);

}
.project{
  height: auto;
  padding: 2rem;
  // border: dotted;

  h3{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}

.project-wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



article{
  margin: 2rem;
  flex:0 1 500px;

  h4{
    margin-top: 1rem;
  }


  a.btn{
    border: solid hsl(178,99%,35%) 2px;
    display: inline-block;
    color: hsl(178,99%,35%);
    font-weight: 700;
    font-size: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    padding: .6rem 1.5rem;
    // color: red;
  
    &:hover{
      color: var(--white);
      background-color:var(--main);
    }
  }
}


